class CreateEasyMlEventContexts < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :easy_ml_event_contexts do |t|
      t.references :event, null: false, foreign_key: { to_table: :easy_ml_events }
      t.jsonb :context, null: false, default: {}
      t.timestamps
    end

    add_index :easy_ml_event_contexts, :context, using: :gin
  end
end
