require "historiographer/postgres_migration"

class CreateEasyMLFeatureHistories < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :easy_ml_feature_histories do |t|
      t.histories(foreign_key: :feature_id)
    end
  end
end 